a.invisible-link:visited {
  color: inherit;
  text-decoration: none;
}

a.invisible-link:visited {
  color: inherit;
  text-decoration: none;
}

a.invisible:link {
  color: inherit;
  text-decoration: none;
}

